*{<span style="margin-right: 0; float: right;">}*

%{ nbPages = _size.page(_caller.pageSize) }%

#{if nbPages > 1}
	
	<div class="pagination">

	*{ Previous }*

	#{if _page == 1}
		<strong style="font-size: 120%">« 前页</strong>
	#{/if}
	#{else}
		<a class="ui-state-default ui-corner-all big_opt_button" href="${request.path}?page=${_page-1}">« 前页</a>
	#{/else}

	*{ Pages }*

	%{ for (i in 1..nbPages) { }%
		#{if _page == i}
			<strong class="current_page_num">${i}</strong>
		#{/if}
		#{else}
			<a class="ui-state-default ui-corner-all big_opt_button" href="${request.path}?page=${i}">${i}</a>
		#{/else}
	%{ } }%

	*{ Next }*


	#{if _page == nbPages}
		<strong style="font-size: 120%">后页 »</strong>
	#{/if}
	#{else}
		<a class="ui-state-default ui-corner-all big_opt_button" href="${request.path}?page=${_page+1}">后页 »</a>
	#{/else}

	</div>

#{/if}

*{</span>}*