#{extends 'assistant_main.html' /}

#{set "moreStyles"}
<style type="text/css">
</style>
#{/set}

#{set 'moreScripts'}

<script type="text/javascript">
    var listAction = #{jsAction @Organizations.ajaxList() /}

    $(function () {
        // Dialog
        $('#popup_func_dialog').dialog({
            autoOpen:false,
            width:600,
            height:400,
            modal:true,
            resizable: false,
//            type:'iframe',
            buttons:{
                "确定":function () {
                    var parentFuncInfo=$("input[name='parentFuncChosen']:checked").val();
                    var pfi=parentFuncInfo.split("|");
                    $("#parentId").val(pfi[0]);
                    $("#parentName").html(pfi[1]);
                    $(this).dialog("close");
                },
                "取消":function () {
                    $(this).dialog("close");
                }
            }
        });

        // Dialog Link
        $('#dialog_link').click(function () {
            $('#popup_func_dialog').load(
                    listAction(),
                    function () {
                        //$('#popup_func_dialog').css('visibility', 'visible')
                    }
            );
            $('#popup_func_dialog').css('display', '');
            $('#popup_func_dialog').dialog('open');
            return false;
        });

        // -------- add function dialog
        $('#add_div').dialog({
            autoOpen:false,
            width:400,
            modal:true,
            resizable: false,
            buttons:{
                "保存":function () {
                    if(submitNewEntity())
                        $(this).dialog("close");
                },
                "取消":function () {
                    cancelNewEntity();
                    $(this).dialog("close");
                }
            }
        });

        // Dialog Link
        $('#create_link').click(function () {
            $('#add_div').css('display', '');
            cleanAddForm();
            $('#add_div').dialog('open');
            return false;
        });

        // -------- edit user dialog
        $('#edit_div').dialog({
            autoOpen:false,
            width:400,
//            height:530,
            modal:true,
            resizable:false,
            buttons:{
                "保存":function () {
                    $("#edit_form").submit();
                    $(this).dialog("close");
                },
                "取消":function () {
                    $(this).dialog("close");
                }
            }
        });



    });

    function cleanAddForm() {
        document.getElementById('name').value = '';
        document.getElementById('key').value = '';
        document.getElementById('remark').value = '';
        document.getElementById('add_div').style.display = '';
        document.getElementById('parentName').innerHTML = '';
        document.getElementById('parentId').value = '';
    }

    function cancelNewEntity() {
        document.getElementById('add_div').style.display = 'none';
    }

    function submitNewEntity() {
        var result=false;

        if ($("#name").val().trim() == "") {
            jqAlert("请输入角色名");
        }
        else if ($("#key").val().trim() == "") {
            jqAlert("请输入键值");
        }
        else {
            document.getElementById('add_form').submit();
            result=true;
        }
        return result;
    }


    var detailForEditAction = #{jsAction @Organizations.detailForEdit(':id') /}

    function showEditForm(orgId,orgName) {
        $('#edit_table_div').load(detailForEditAction({id:orgId}), function () {});
        $("#edit_user_id").val(orgId);
        $('#edit_div').css('display', '');
        $('#edit_div').dialog('option', "title", "修改组织（" + orgName + "）基本信息");
        $('#edit_div').dialog('open');
    }
</script>
#{/set}


<h1 id="title">常量管理</h1>
<p class="light_bar">
${entityList.size()} / ${entityCount} 常量
    &nbsp;
    <a href="#" id="create_link" class="ui-state-default ui-corner-all dialog_button">
        <span class="ui-icon ui-icon-newwin"></span>新增常量</a>
</p>

#{pagination page:pageSequence ?: 1, size:entityCount /}

<table id="func_list">
    <thead>
    <tr>
        <th class="main" width="40px">ID</th>
        <th class="main" width="180px">常量类型</th>
        <th class="main" width="120px">代码</th>
        <th class="main">备注</th>
        <th class="main" width="100px">上级组织</th>
        <th class="main" width="80px">创建时间</th>
        <th class="main" width="80px">最后更新</th>
        <th width="100px">操作</th>
    </tr>
    </thead>
#{if entityList.size()>0}
    #{list items:entityList, as:'org'}
        <tr>
            <td class="main">${org.id}</td>
            <td class="main">${org.name}</td>
            <td class="main">${org.key}</td>
            <td class="main">${org.remark}</td>
            <td class="main">${org.parent==null?"----":org.parent.name}</td>
            <td class="main">${org.createDate.format("yyyy-MM-dd")}</td>
            <td class="main">${org.lastUpdate?org.lastUpdate.format("yyyy-MM-dd"):""}</td>
            <td class="main">
                <a class="ui-state-default ui-corner-all opt_button" href="javascript:showEditForm('${org.id}','${org.name}');">编辑</a>
                <a class="ui-state-default ui-corner-all opt_button" href="javascript:requireActionByPost('@{Organizations.delete}','${org.id}','确定删除组织(${org.name})？');">删除</a>
            </td>
        </tr>
    #{/list}
#{/if}
</table>



<div id="add_div" style="display: none;" title="新增组织">
    <form id="add_form" action="@{Organizations.create}" method="post">
        <table class="myTable">
            <tr>
                <td align="right" class="input_label"><label for="name" class="input_required">组织名：</label></td>
                <td><input id="name" name="name" type="text" maxlength="50"/></td>
            </tr>
            <tr>
                <td align="right" class="input_label"><label for="key" class="input_required">代码：</label></td>
                <td><input id="key" name="key" type="text" maxlength="50"/></td>
            </tr>
            <tr>
                <td align="right" class="input_label"><label for="remark">备注：</label></td>
                <td><input id="remark" name="remark" type="text" maxlength="20"/></td>
            </tr>
            <tr class="no_bottom">
                <td align="right" class="input_label no_bottom"><label for="remark">上级组织：</label></td>
                <td class="no_bottom">
                    <input type="hidden" id="parentId" name="parentId" type="text" maxlength="20"/>
                    <a href="#" id="dialog_link" class="ui-state-default ui-corner-all dialog_button"><span class="ui-icon ui-icon-newwin"></span>选择</a>
                    <span id="parentName"></span>
                </td>
            </tr>
        </table>
    </form>
</div>

*{#{include 'Functions/ajaxList.html'/}}*

<div id="popup_func_dialog" title="组织选择窗口" style="display: none">
</div>


<div id="edit_div" style="display: none;" title="编辑用户信息">
    #{form @edit(), id:'edit_form',method:'POST'}
        <input type="hidden" id="edit_user_id" name="userId" value=""/>
        <div id="edit_table_div">
            *{这里由ajax引入后台html代码}*
        </div>
    #{/form}
</div>