<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Fault AI System - #{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jkmegamenu.css'}" />
    #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />

        <script src="@{'/public/javascripts/default.js'}"></script>
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}"></script>
        <script src="@{'/public/javascripts/jkmegamenu.js'}"></script>
        <script type="text/javascript">
            jkmegamenu.definemenu("megaanchor", "megamenu1", "mouseover")
        </script>
    #{get 'moreScripts' /}
    </head>

    <body>

		<div id="main">
	
			<div id="header">
				#{if connected}
					<p>
						欢迎 <a class="connectedUser" href="@{Users.show(connected.id)}">${connected.name}</a>
						(<a href="@{Application.logout}">退出</a>)
					</p>
				#{/if}
				#{else}
                    <p>
						<a href="@{Application.signup}">注册</a>&nbsp;&nbsp;<a href="@{Application.login}">登录</a>
					</p>
				#{/else}
		
				<ul id="menu">
                    <li><a id="megaanchor" style="background-color: #6495ed;" href="#">系统地图</a></li>
					<li><a class="${request?.controller == 'Welcome'? 'selected' : ''}" href="@{Welcome.index}">欢迎</a></li>
					<li><a class="${request?.controller == 'SysUsers'? 'selected' : ''}" href="@{SysUsers.index}">用户</a></li>
					<li><a class="${request?.controller == 'SysRoles'? 'selected' : ''}" href="@{SysRoles.index}">角色</a></li>
					<li><a class="${request?.controller == 'Functions'? 'selected' : ''}" href="@{Functions.index}">功能</a></li>
					<li><a class="${request?.controller == 'Organizations'? 'selected' : ''}" href="@{Organizations.index}">组织</a></li>
				</ul>
			</div>
			
			<div id="content">
				#{if flash?.error}
					<div class="error">${flash.error}</div>
				#{/if}
				
				#{if flash?.success}
					<div class="success">${flash.success}</div>
				#{/if}
				
	       		#{doLayout /}
			</div>
			
			<div id="footer">
				<p>
					Just a sample fault AI system with <a href="http://www.playframework.org">Play!</a>, &nbsp;
                    Author:<a href="mailto:ember319@gmail.com">ember</a>
				</p>
			</div>
		</div>



        <!--Mega Drop Down Menu HTML. Retain given CSS classes-->
        <div id="megamenu1" class="megamenu">

            <div class="column">
                <h3>站点</h3>
                <ul>
                    <li><a href="＃">基本信息</a></li>
                    <li><a href="＃">相册</a></li>
                    <li><a href="＃">历史</a></li>
                    <li><a href="＃">模块</a></li>
                    <li><a href="＃">联系人</a></li>
                </ul>
            </div>

            <div class="column">
                <h3>故障</h3>
                <ul>
                    <li><a href="＃">基本信息</a></li>
                    <li><a href="＃">维修报告</a></li>
                    <li><a href="＃">分析／助诊</a></li>
                </ul>
            </div>

            <div class="column">
                <h3>辅助信息</h3>
                <ul>
                    <li><a href="＃">省市区</a></li>
                    <li><a href="＃">模块类型</a></li>
                    <li><a href="＃">厂家</a></li>
                    <li><a href="＃">常量</a></li>
                </ul>
            </div>

            <br style="clear: left" /> <!--Break after 3rd column. Move this if desired-->

            <div class="column">
                <h3>故障单查询</h3>
                <ul>
                    <li><a href="＃">符合查询</a></li>
                    <li><a href="＃">统计报表</a></li>
                </ul>
            </div>

            <div class="column">
                <h3>权限</h3>
                <ul>
                    <li><a href="＃">用户</a></li>
                    <li><a href="＃">角色</a></li>
                    <li><a href="＃">功能</a></li>
                    <li><a href="＃">组织</a></li>
                </ul>
            </div>

        </div>
    </body>
</html>
