        <!--Mega Drop Down Menu HTML. Retain given CSS classes-->
        <div id="megamenu1" class="megamenu">

            <div class="column">
                <h3>故障单查询</h3>
                <ul>
                    <li><a href="＃">复合查询</a></li>
                    <li><a href="＃">统计报表</a></li>
                </ul>
            </div>

            <div class="column">
                <h3>故障</h3>
                <ul>
                    <li><a href="＃">故障管理</a></li>
                    <li><a href="＃">维修报告</a></li>
                    <li><a href="＃">故障单审核</a></li>
                    <li><a href="＃">分析/助诊</a></li>
                </ul>
            </div>

            <div class="column">
                <h3>站点</h3>
                <ul>
                    <li><a href="@@{Stations.show}">自动站</a></li>
                    *{<li><a href="＃">相册</a></li>}*
                    *{<li><a href="＃">历史</a></li>}*
                    *{<li><a href="＃">模块</a></li>}*
                    *{<li><a href="＃">联系人</a></li>}*
                </ul>
            </div>

            <br style="clear: left" /> <!--Break after 3rd column. Move this if desired-->

            <div class="column">
                <h3>辅助信息</h3>
                <ul>
                    <li><a href="@@{Districts.show}">省市区</a></li>
                    <li><a href="@@{Modules.show}">模块</a></li>
                    <li><a href="@@{Vendors.show}">厂家</a></li>
                    <li><a href="@@{SysConstants.show}">常量</a></li>
                </ul>
            </div>

            <div class="column">
                <h3>权限</h3>
                <ul>
                    <li><a href="@@{SysUsers.show}">用户</a></li>
                    <li><a href="@@{SysRoles.show}">角色</a></li>
                    <li><a href="@@{Functions.show}">功能</a></li>
                    <li><a href="@@{Organizations.show}">组织</a></li>
                </ul>
            </div>

            <div class="column">
                <h3>帮助</h3>
                <ul>
                    <li><a href="@@{Help.index}">帮助</a></li>
                    <li><a href="@@{About.index}">关于</a></li>
                    <li><a href="@@{Contacts.index}">联系方式</a></li>
                    <li><a href="@@{LeaveWords.index}">留言</a></li>
                </ul>
            </div>

        </div>