#{extends 'auth_main.html' /}

#{set "moreStyles"}
<style type="text/css">
    /*#add_user_div{
        padding-top: 30px;
        width: 60%;
    }*/

    .hidden_div{
        padding-top: 30px;
        width: 60%;
    }

    .myTable{border: none;}
    .myTable tr{height: 25px;border-left: none;border-right: none;}
    .myTable tr td{height: 25px;border-left: none;border-right: none;}
    .input_label{font-style: oblique;}

    .role_col {
        padding-left: 5px;
        padding-right: 5px;
    }
</style>
#{/set}

#{set 'moreScripts'}
<script type="text/javascript">
    function showNewForm(){
        document.getElementById('loginName').value='';
        document.getElementById('nickName').value='';
        document.getElementById('password').value='';
        document.getElementById('password2').value='';
        document.getElementById('add_user_div').style.display='';
    }

    function cancelNewEntity(){
        document.getElementById('add_user_div').style.display='none';
    }

    function submitNewEntity(){
        var eleLName=document.getElementById('loginName');
        var eleNName=document.getElementById('nickName');
        var elePswd=document.getElementById('password');
        var elePswd2=document.getElementById('password2');

        if(eleLName.value.trim()==""){
            alert("No loginName, please input it");
            eleLName.focus();
        }
        else if(elePswd.value.trim()==""){
            alert("No password, please input it");
            elePswd.focus();
        }
        else if(elePswd.value.trim()!=elePswd2.value.trim()){
            alert("Retyped password is wrong, please typed again carefully");
            elePswd2.value='';
            elePswd2.focus();
        }else{
            if(eleNName.value.trim()=='') eleNName.value=eleLName.value;
            document.getElementById('add_user_form').submit();
        }
    }

    function showAssignForm(userId,userLoginName){
        document.getElementById('assign_user').innerHTML=userLoginName;
        document.getElementById('assign_user_id').value=userId;
        document.getElementById('assign_div').style.display='';
    }

    function cancelAssignForm(){
        document.getElementById('assign_div').style.display='none';
        document.getElementById('assign_user').text='';
        document.getElementById('assign_user_id').text='';
    }

    function submitAssignInfo(){
        var ridArray=document.getElementsByName("roleId");

        var empty=true;
        var promptString='';

        for(var i=0;i<ridArray.length;i++){
            if(ridArray[i].checked){
                empty=false;
//                promptString+=ridArray[i].value+',';
            }

        }
//        alert(promptString);

        if(empty){
            alert("请至少选择一个角色");
            return;
        }

        if(!empty && confirm("Confirm assign these roles to ["
                +document.getElementById('assign_user').innerHTML+"]")){
//            var assignForm=document.getElementById('assign_form');
            document.getElementById('assign_form').submit();
        }
    }
</script>
#{/set}


<h1 id="title">用户管理</h1>
*{<p class="light">}*
<p class="light_bar">
#{pluralize size:userList.size(), word:'user' /} in #{pluralize size:userCount, word:'user' /}
    &nbsp;<a class="link_as_button" href="javascript:showNewForm()">创建用户</a>
</p>

#{pagination page:pageSequence ?: 1, size:userCount /}

<table id="users-list">
    <thead>
    <tr>
        <th class="main">登录名</th>
        <th class="main">昵称</th>
        <th class="main" width="80px">创建时间</th>
        <th class="main" width="80px">最近更新</th>
        <th class="main" width="250px">角色</th>
        <th class="main">所属组织</th>
        <th width="100px">操作</th>
    </tr>
    </thead>
#{if userList.size()>0}
    #{list items:userList, as:'user'}
        <tr class="tr_data_row">
            <td class="main"><a href="#">${user.loginName}</a></td>
            <td class="main"><a href="#">${user.nickName}</a></td>
            <td class="main">${user.createDate.format("yyyy-MM-dd")}</td>
            <td class="main">${user.lastUpdate?user.lastUpdate.format("yyyy-MM-dd"):""}</td>
            <td class="main">
                <a class="link_as_button"
                   href="javascript:showAssignForm('${user.id}','${user.loginName}');" >分配</a>
            #{if user.roles.size()>0}#{list items:user.roles, as:'role'}
                <span class="role_col">${role.name}</span>
            #{/list}#{/if}
            </td>
            <td class="main"></td>
            <td class="main">
                <a class="link_as_button" href="#" >编辑</a>
                <a class="link_as_button" href="javascript:deleteByPost('@{SysUsers.delete}','${user.id}','Confirm to delete this user(${user.loginName})');">删除</a>
            </td>
        </tr>
    #{/list}
#{/if}
</table>



<div id="add_user_div" style="display: none;" class="hidden_div">
    <form id="add_user_form" action="@{SysUsers.create}" method="post">
    <table class="myTable">
        <tr><td colspan="2" style="border-bottom: solid 2px;"><b>创建用户：</b></td></tr>
        <tr>
            <td align="right" class="input_label"><label for="loginName">登录名</label>:</td>
            <td><input id="loginName" name="loginName" type="text" maxlength="50"/></td>
        </tr>
        <tr>
            <td align="right" class="input_label"><label for="nickName">昵称</label>:</td>
            <td><input id="nickName" name="nickName" type="text" maxlength="50"/></td>
        </tr>
        <tr>
            <td align="right" class="input_label"><label for="password">密码</label>:</td>
            <td><input id="password" name="password" type="password" maxlength="20"/></td>
        </tr>
        <tr>
            <td align="right" class="input_label"><label for="password2">重新输入密码</label>:</td>
            <td><input id="password2" name="password2" type="password" maxlength="20"/></td>
        </tr>
        <tr style="border-bottom: none;"><td  style="border-bottom: none;" colspan="2" align="right">
            <input style="padding-top: 5px" type="button" value="取消" onclick="cancelNewEntity();"/>&nbsp;&nbsp;
            <input style="padding-top: 5px" type="button" onclick="submitNewEntity();" value="保存"/>
        </td></tr>
    </table>
    </form>
</div>



<div id="assign_div" style="display: none;" class="hidden_div">
    <form id="assign_form" action="@{SysUsers.assignRoles()}" method="post">
        <table class="myTable">
            <tr><td colspan="2" style="border-bottom: solid 2px;">
                <b>为用户 (<span id="assign_user" style="color: #ba120f;"></span>) 分配角色:</b>
            </td></tr>
            <input type="hidden" id="assign_user_id" name="userId" value=""/>
            <tr>
                <td align="right" class="input_label" valign="top" width="50px"><label></label></td>
                <td>
                    <table class="myTable">
                        <thead style="background-color: #888888;">
                        <tr>
                            <th class="main">角色名</th>
                            <th class="main">键值</th>
                            <th class="main">备注</th>
                        </tr>
                        </thead>
                    #{if roleList.size()>0}
                        #{list items:roleList, as:'role'}
                            <tr style="border-right: none;">
                                <td height="18px"><input type="checkbox" name="roleId" id="roleId_${role.id}"
                                                         value="${role.id}"/>
                                    <label for="roleId_${role.id}">${role.name}</label></td>
                                <td height="18px">${role.key}</td>
                                <td height="18px">${role.remark}</td>
                            </tr>
                        #{/list}
                    #{/if}
                    </table>
                </td>
            </tr>
            <tr style="border-bottom: none;"><td  style="border-bottom: none;" colspan="2" align="right">
                <input style="padding-top: 5px" type="reset" value="Reset"/>&nbsp;&nbsp;
                <input style="padding-top: 5px" type="button" value="Cancel" onclick="cancelAssignForm();"/>&nbsp;&nbsp;
                <input style="padding-top: 5px" type="button" onclick="submitAssignInfo();" value="Submit"/>
            </td></tr>
        </table>
    </form>
</div>