#{extends 'auth_main.html' /}

#{set "moreStyles"}
<style type="text/css">
    .role_col {
        padding-left: 5px;
        padding-right: 5px;
    }
</style>
#{/set}

#{set 'moreScripts'}
<script type="text/javascript">
    var listAction = #{jsAction @SysRoles.ajaxList() /}

    $(function () {
        // -------- add user dialog
        $('#add_div').dialog({
            autoOpen:false,
            width:400,
            modal:true,
            resizable:false,
            buttons:{
                "保存":function () {
                    if (submitNewEntity())
                        $(this).dialog("close");
                },
                "取消":function () {
//                    cancelNewEntity();
                    $(this).dialog("close");
                }
            }
        });

        // Dialog Link
        $('#create_link').click(function () {
            $('#add_div').css('display', '');
            cleanForm();
            $('#add_div').dialog('open');
            return false;
        });

        // -------- assign roles dialog
        $('#assign_div').dialog({
            autoOpen:false,
            width:600,
            height:400,
            modal:true,
            resizable:false,
            buttons:{
                "保存":function () {
//                    jqAlert($("#assign_user_id").val());
                    submitAssignInfo();
                    $(this).dialog("close");
                },
                "取消":function () {
                    cancelAssignForm();
                    $(this).dialog("close");
                }
            }
        });
    });


    function cleanForm(){
        document.getElementById('loginName').value='';
        document.getElementById('nickName').value='';
        document.getElementById('mobile').value='';
        document.getElementById('password').value='';
        document.getElementById('password2').value='';
    }

    function cancelNewEntity(){
        document.getElementById('add_user_div').style.display='none';
    }

    function submitNewEntity() {
        var eleLName = document.getElementById('loginName');
        var eleNName = document.getElementById('nickName');
        var eleMobile = document.getElementById('mobile');
        var elePswd = document.getElementById('password');
        var elePswd2 = document.getElementById('password2');

        //todo: 怎样才能focus到具体的输入框？
        if (eleLName.value.trim() == "") {
            jqAlert("请输入登录名");
        }
        else if (elePswd.value.trim() == "") {
            jqAlert("请输入密码");
        }
        else if (elePswd2.value.trim() =="") {
            jqAlert("请输入确认密码");
        }
        else if (elePswd.value.trim() != elePswd2.value.trim()) {
            elePswd2.value = '';
            jqAlert("请再次输入确认密码");
        } else {
            if (eleNName.value.trim() == '') eleNName.value = eleLName.value;
            document.getElementById('add_user_form').submit();
        }
    }

    function showAssignForm(userId,userLoginName){
        $('#assgn_table_div').load(listAction(),function(){});
        $("#assign_user_id").val(userId);
        $('#assign_div').css('display', '');
        $('#assign_div').dialog('option',"title","为用户（"+userLoginName+"）分配角色");
        $('#assign_div').dialog('open');
    }

    function cancelAssignForm(){
        $('assign_user').innerText='';
        $('assign_user_id').val('');
    }

    function submitAssignInfo(){
        var ridArray=document.getElementsByName("roleId");
        var empty=true;

        for(var i=0;i<ridArray.length;i++){
            if(ridArray[i].checked){
                empty=false;
                break;
            }
        }

        if(empty){
            jqAlert("请至少选择一个角色");
            return false;
        }
        document.getElementById('assign_form').submit();
        return true;
    }
</script>
#{/set}


<h1 id="title">用户管理</h1>
<p class="light_bar">
${userList.size()} / ${userCount} 用户&nbsp;
    <a href="#" id="create_link" class="ui-state-default ui-corner-all dialog_button">
            <span class="ui-icon ui-icon-newwin"></span>创建用户</a>
</p>

#{pagination page:pageSequence ?: 1, size:userCount /}

<table id="users-list">
    <thead>
    <tr>
        <th class="main">登录名</th>
        <th class="main">姓名</th>
        <th class="main">手机</th>
        <th class="main">状态</th>
        <th class="main" width="80px">创建时间</th>
        <th class="main" width="80px">最近更新</th>
        <th class="main" width="250px">角色</th>
        <th class="main">所属组织</th>
        <th width="130px">操作</th>
    </tr>
    </thead>
#{if userList.size()>0}
    #{list items:userList, as:'user'}
        <tr class="tr_data_row">
            <td class="main"><a href="#">${user.loginName}</a></td>
            <td class="main"><a href="#">${user.nickName}</a></td>
            <td class="main"><a href="#">${user.mobile}</a></td>
            <td class="main">${user.statusRemark()}</td>
            <td class="main">${user.createDate.format("yyyy-MM-dd")}</td>
            <td class="main">${user.lastUpdate?user.lastUpdate.format("yyyy-MM-dd"):""}</td>
            <td class="main">
                <a class="ui-state-default ui-corner-all opt_button"
                   href="javascript:showAssignForm('${user.id}','${user.loginName}');" >分配</a>
            #{if user.roles.size()>0}#{list items:user.roles, as:'role'}
                <span class="role_col">${role.name}</span>
            #{/list}#{/if}
            </td>
            <td class="main"></td>
            <td class="main">
                #{if user.status==1}
                <a class="ui-state-default ui-corner-all opt_button"
                   href="javascript:requireActionByPost('@{SysUsers.forbid}','${user.id}','确定禁用用户(${user.loginName})？');">禁用</a>
                #{/if}
                #{if user.status==2}
                <a class="ui-state-default ui-corner-all opt_button"
                   href="javascript:requireActionByPost('@{SysUsers.resume}','${user.id}','确定恢复用户(${user.loginName})？');">恢复</a>
                #{/if}
                <a class="ui-state-default ui-corner-all opt_button" href="javascript:jqAlert('测试一下弹出框');">编辑</a>
                <a class="ui-state-default ui-corner-all opt_button"
                   href="javascript:requireActionByPost('@{SysUsers.delete}','${user.id}','确认删除用户(${user.loginName})？');">强删</a>
            </td>
        </tr>
    #{/list}
#{/if}
</table>



<div id="add_div" style="display: none;" class="hidden_div" title="创建用户">
    <form id="add_user_form" action="@{SysUsers.create}" method="post">
    <table class="myTable">
        <tr>
            <td align="right" class="input_label"><label for="loginName" class="input_required">登录名：</label></td>
            <td><input id="loginName" name="loginName" type="text" maxlength="50"/></td>
        </tr>
        <tr>
            <td align="right" class="input_label"><label for="nickName">姓名：</label></td>
            <td><input id="nickName" name="nickName" type="text" maxlength="50"/></td>
        </tr>
        <tr>
            <td align="right" class="input_label"><label for="mobile">手机：</label></td>
            <td><input id="mobile" name="mobile" type="text" maxlength="50"/></td>
        </tr>
        <tr>
            <td align="right" class="input_label"><label for="password" class="input_required">密码：</label></td>
            <td><input id="password" name="password" type="password" maxlength="20"/></td>
        </tr>
        <tr class="no_bottom">
            <td align="right" class="input_label no_bottom"><label for="password2" class="input_required">重新输入密码：</label></td>
            <td class="no_bottom"><input id="password2" name="password2" type="password" maxlength="20"/></td>
        </tr>
    </table>
    </form>
</div>



<div id="assign_div" style="display: none;" class="hidden_div" title="分配角色">
    <form id="assign_form" action="@{SysUsers.assignRoles()}" method="post">
        <input type="hidden" id="assign_user_id" name="userId" value=""/>
        <div id="assgn_table_div"></div>
    </form>
</div>
