<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="EPTools Action Set"
            visible="true"
            id="EPTools.actionSet">
         <menu
               label="EPTools"
               id="EPToolsMenu">
            <separator
                  name="EPToolsGroup">
            </separator>
         </menu>
         <action
               label="&amp;Say Hello"
               icon="icons/sample.gif"
               class="zb.eptools.actions.HelloAction"
               tooltip="Hello, Eclipse world"
               menubarPath="EPToolsMenu/EPToolsGroup"
               toolbarPath="EPToolsGroup"
               id="zb.eptools.actions.HelloAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="EPTools"
            name="EPToolsViews">
      </category>
      <view
            category="EPTools"
            class="zb.eptools.views.MyView"
            icon="icons/sample.gif"
            id="zb.eptools.views.MyView"
            name="MyView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="zb.eptools.views.MyView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="zb.eptools.editors.MultiPageEditor"
            contributorClass="zb.eptools.editors.MultiPageEditorContributor"
            extensions="mpe"
            icon="icons/sample.gif"
            id="zb.eptools.editors.MultiPageEditor"
            name="Sample Multi-page Editor">
      </editor>
   </extension>

</plugin>
