<!-- popup function list dialog -->
<div id="popup_func_dialog" title="功能选择窗口" style="display: none">
    ${entityList.size()} / ${entityCount} 功能

    #{pagination page:pageSequence ?: 1, size:entityCount /}

    <table id="func_list">
        <thead>
        <tr>
            <th class="main">功能名</th>
            <th class="main">键值</th>
            <th class="main">备注</th>
            <th class="main">父功能</th>
        </tr>
        </thead>
    #{if entityList.size()>0}
        #{list items:entityList, as:'func'}
            <tr>
                <td class="main"><a href="#">${func.name}</a></td>
                <td class="main"><a href="#">${func.key}</a></td>
                <td class="main">${func.remark}</td>
                <td class="main">${func.parent==null?"----":func.parent.name}</td>
            </tr>
        #{/list}
    #{/if}
    </table>
</div>