body, html {
	margin: 0;
	padding: 0;
	background: #444444;
	font-family: 'Lucida Grande','Trebuchet MS',Arial,Helvetica,sans-serif;
	font-size: 90%;
}

a {
	color: #2244BB;
}

a.action {
	color: #c00;
}

.light {
	color: #888;
}

.last {
	color: #666;
	font-size: 11px;
}

div.error {
	background: #CC0000;
	color: #fff;
	font-weight: bold;
	padding: 4px;
	margin-bottom: 10px;
}

div.success {
	background: #2E9F27;
	color: #fff;
	font-weight: bold;
	padding: 4px;
	margin-bottom: 10px;
}

p {
	margin: 2px 0 20px 0;
}

h1,h2,h3,h4,h5 {
	margin-bottom: 1em;
}

h1 {
	font-size: 24px;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-right: 1px solid #ccc;
}

thead {
	background-color: #111;
	color: #ffffff;
}

th {
	text-align: left;
	padding: 5px 10px;
	font-size: 14px;
	border: 1px solid #333;
	border-bottom: 1px solid #ccc;

    background-color: #111;
    color: #ffffff;
}

td {
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	vertical-align: middle;
}

td.infos {
	background: #EEEEEE;
	width: 30%;
	font-size: 11px;
}

form .error {
	color: #c00;
	background: white;
	font-weight: normal;
}


/*zoubo appended below ------------------------------------------ */
.link_as_button {
    /*border: solid 1px #cd5c5c;*/
    background-color: #e6e6e0;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    text-decoration:none;
}

.current_page_num{
    /*border:#cd5c5c solid 1px;*/
    padding-left: 5px;
    padding-right: 5px;
    background-color: #a7a9cc;
}

.page_num{
    /*border:#cd5c5c solid 1px;*/
    padding-left: 5px;
    padding-right: 5px;
    background-color: #99CC66;
}


.input_required{color: red;}
.input_label{font-style:oblique;}

/*Important for dialog button*/
.dialog_button {padding: .3em 1em .3em 20px;text-decoration: none;position: relative;}
.dialog_button span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

.opt_button {padding: .2em 5px .2em 5px;text-decoration: none;position: relative;}
.opt_button span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

.myTable{border: none;}
.myTable tr{height: 25px;border-left: none;border-right: none;}
.myTable tr td{height: 25px;border-left: none;border-right: none;}
.myTable .no_bottom{border-bottom: none;}