#{extends 'auth_main.html' /}

#{set "moreStyles"}
<style type="text/css">
    #add_div{
        padding-top: 30px;
        width: 50%;
    }
    #newTable{border: none;}
    #newTable tr{height: 25px;border-left: none;border-right: none;}
    #newTable tr td{height: 25px;border-left: none;border-right: none;}
    .input_label{font-style:oblique;}
</style>
#{/set}

#{set 'moreScripts'}
<script type="text/javascript">
    function showNewForm(){
        document.getElementById('name').value='';
        document.getElementById('key').value='';
        document.getElementById('remark').value='';
        document.getElementById('add_div').style.display='';
    }

    function cancelNewEntity(){
        document.getElementById('add_div').style.display='none';
    }

    function submitNewEntity(){
        var eleName=document.getElementById('name');
        var eleKey=document.getElementById('key');

        if(eleName.value.trim()==""){
            alert("No role name, please input it");
            eleName.focus();
        }
        else if(eleKey.value.trim()==""){
            alert("No key, please input it");
            eleKey.focus();
        }
        else{
            document.getElementById('add_form').submit();
        }
    }

    function deleteRole(userCount,url,id,prompt){
        if(userCount>0){
            alert('角色被 '+userCount+' 人使用，不能删除');
        }else{
            requireActionByPost(url,id,prompt);
        }
    }
</script>
#{/set}


<h1 id="title">角色管理</h1>
<p class="light_bar">
#{pluralize size:entityList.size(), word:'role' /} in #{pluralize size:entityCount, word:'role' /}
    &nbsp;<a class="link_as_button" href="javascript:showNewForm()">创建角色</a>
</p>

#{pagination page:pageSequence ?: 1, size:entityCount /}

<table id="users-list">
    <thead>
    <tr>
        <th class="main">角色名</th>
        <th class="main">键值</th>
        <th class="main">备注</th>
        <th class="main" width="80px">创建时间</th>
        <th class="main" width="80px">最后更新</th>
        <th class="main">功能</th>
        <th width="100px">操作</th>
    </tr>
    </thead>
#{if entityList.size()>0}
    #{list items:entityList, as:'role'}
        <tr>
            <td class="main"><a href="#">${role.name}</a></td>
            <td class="main"><a href="#">${role.key}</a></td>
            <td class="main">${role.remark}</td>
            <td class="main">${role.createDate.format("yyyy-MM-dd")}</td>
            <td class="main">${role.lastUpdate?role.lastUpdate.format("yyyy-MM-dd"):""}</td>
            <td class="main"><a class="link_as_button" href="#" >分配</a></td>
            <td class="main">
                <a class="link_as_button" href="#" >编辑</a>
                <a class="link_as_button" href="javascript:deleteRole(${role.userCount()},'@{SysRoles.delete}','${role.id}','确定删除角色(${role.name})？');">删除</a>
            </td>
        </tr>
    #{/list}
#{/if}
</table>



<div id="add_div" style="display: none;">
    <form id="add_form" action="@{SysRoles.create}" method="post">
        <table id="newTable">
            <tr><td colspan="2" style="border-bottom: solid 2px;" id="table_title"><b>创建角色：</b></td></tr>
            <tr>
                <td align="right" class="input_label"><label for="name">角色名：</label></td>
                <td><input id="name" name="name" type="text" maxlength="50"/></td>
            </tr>
            <tr>
                <td align="right" class="input_label"><label for="key">键值：</label></td>
                <td><input id="key" name="key" type="text" maxlength="50"/></td>
            </tr>
            <tr>
                <td align="right" class="input_label"><label for="remark">备注：</label></td>
                <td><input id="remark" name="remark" type="text" maxlength="20"/></td>
            </tr>
            <tr style="border-bottom: none;"><td  style="border-bottom: none;" colspan="2" align="right">
                <input style="padding-top: 5px" type="button" value="取消" onclick="cancelNewEntity();"/>&nbsp;&nbsp;
                <input style="padding-top: 5px" type="button" onclick="submitNewEntity();" value="保存"/>
            </td></tr>
        </table>
    </form>
</div>